/*External CSS*/
/*Body is a CSS Selector*/
/*{} indicates a CSS Declaration*/
body{
  /*property:value; is a CSS Rule*/
  margin:0;
}

/*HEADER*/
header{
  border-bottom: 5px solid black;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  list-style-type: none
  padding: 0 10px ;
  gap: 1.25em;
}

/*MAIN*/

.container{
  max-width: 300vh;
}

.catimage{
  max-width: 100px;
  max-height: 100px;
  
}



/*FOOTER*/


/*MEDIA QUERY*/