/*External CSS*/
/*Body is a CSS Selector*/
/*{} indicates a CSS Declaration*/
body{
  /*property:value; is a CSS Rule*/
  margin:0;
}

/*HEADER*/
header{
  border-bottom: 5px solid black;
}

/*MAIN*/

.catimage{
  max-width: 100px;
}

.cardimg{
  max-width: 300px;
}

.card{
  display: flex;
  max-width: 300em;
}

/*FOOTER*/


/*MEDIA QUERY*/